<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="evergrande.lightapp.jianq.com.module_center" >
        <application
            android:name=".CenterAppliation"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            >
            <activity android:name=".ui.CenterActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
            <activity android:name=".ui.PatternActivity"/>
            <activity android:name=".ui.StrategyPatternActivity"/>
            <activity android:name=".ui.TestActivity"/>
        </application>
</manifest>
