<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="evergrande.lightapp.jianq.com.module_center" >
    <application >
        <activity android:name=".ui.CenterActivity">

        </activity>
        <activity android:name=".ui.PatternActivity"/>
        <activity android:name=".ui.StrategyPatternActivity"/>
        <activity android:name=".ui.TestActivity"/>
    </application>
</manifest>
